.side_bar
  .side_bar__user-name
    .side_bar__user-name-box
      = current_user.name
      .side_bar__user-name-box-left
      
      .side_bar__user-name-box-icon
        =link_to edit_user_path(current_user), class: "fa-pull-right icon1 fa-pull-right" do
          = icon('fas', 'fas fa-cog')
        =link_to new_group_path , class: "fa-pull-right icon2 fa-pull-right" do
          = icon('fas', 'fas fa-edit')

  .side_bar__groups
    - current_user.groups.each do |group|
      .group
        =link_to group_messages_path(group),class:"grouplink" do
          .group__name
            = group.name
          .group__message
            = group.show_last_message